
<section class="newsletter-subscribe">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Search Companies By Name</h2>
        </div>
        <form class="d-flex justify-content-center flex-wrap" method="post">
            <div class="mb-3"><input class="form-control" type="text" id= "username" name="username" #username placeholder="Search Company By Name"></div>
            <div class="mb-3"><button class="btn btn-primary niceBtn"  type="submit" (click)="getCorporationsWithNameLike(username.value)">Search</button></div>
        </form>
    </div>
</section>
<div class="container">
    <div class="table-responsive" style="text-align: center;">
        <table class="table">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>View Open Positions</th>
                </tr>
            </thead>
            <tbody style="text-align: center;">
                <tr *ngFor="let corporate of this.corporations"  style="text-align: center;">
                    <td>
                        {{corporate.userName}} 
                    </td>
                    <td style="text-align: center;">
                        <button class="btn btn-primary" type="button">View Openings</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>